<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Food Form</title>

        <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
            crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
            crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
        <link rel="stylesheet" href="../static/css/style.css">
        <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous">
        </script>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron" style="text-align: center">
                <h1>Reservation Finder</h1>
                <p>Enter your details below!</p>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <form method="POST" action="/" role="form", name="petform" id="foodForm">
                        <div class="form-group">
                            <label for="inputName"> Name</label>
                            <input type="text" class="form-control" id="inputName" name="Name" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <label for="inputOcc">Occasion</label>
                            <input type="text" class="form-control" id="inputOcc" name="Occ" placeholder="Occasion">
                        </div>
                        <div class="form-group">
                            <label for="inputNum">Phone Number</label>
                            <input type="text" class="form-control" id="inputNum" name="Number" placeholder="Number">
                        </div>
                        <div class="form-group">
                            <label for="inputCuisine">Choice of Cuisine</label>
                            <input type="text" class="form-control" id="inputCuisine" name="Cuisine" placeholder="Choice of Cuisine">
                        </div>
                        <div class="form-group">
                            <label for="preferredRestaurant">Preferred Restaurant</label>
                            <input type="text" class="form-control" id="preferredRestaurant" name="Preferred" placeholder="Preferred Restaurant">
                        </div>
                        <div class="form-group">
                            <label for="numberOfGuests">Number of Guests</label>
                            <input type="number" class="form-control" id="numberOfGuests" name="Guests" placeholder="Number of Guests">
                        </div>
                        <div class="form-group">
                            <label for="reservationDateTime">Reservation Date</label>
                            <input type="datetime-local" class="form-control" id="reservationDateTime" name="ReservationDateTime" placeholder="Reservation Date">
                        </div>
                        <input type="button" value="Submit" class="btn btn-default" data-toggle="modal" data-target="#successModal">
                    </form>
                </div>
            </div>

            <div class="modal" tabindex="-1" role="dialog" id="successModal">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Success! </h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p>Request submitted successfully. Our representative will get in touch with you shortly.</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-primary" onClick="javascript:window.location.href='/'">Take me home</button>
                          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="submitAnotherRequest">Submit another request</button>
                        </div>
                      </div>
                    </div>
                </div>

        </div>

        <script type="text/javascript">
            $(document).ready(function(){
                $('#submitAnotherRequest').click(function (e) {
                    //e.preventDefault();
                    //window.location.href = "/";
                    $('#inputName').val('');
                    $('#inputOcc').val('');
                    $('#inputNum').val('');
                    $('#inputCuisine').val('');
                    $('#preferredRestaurant').val('');
                    $('#numberOfGuests').val('');
                    $('#reservationDateTime').val('');
                    $('#successModal').modal('hide');

                });
            });
        </script>

    </body>

</html>
