<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Food R Us</title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="static/css/bootstrap.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link rel="stylesheet" href="static/css/style.css">
  <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous">
  </script>
</head>

<body>
  <div class="wrapper">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="index.html" >Food R Us</a>
        </div>
      </div>
    </nav>
    <div class="row">

      <div class="row" style="margin-left: 100px; margin-top: 15px;">
        <div class="col-md-2">
          <div class="well">
            <div class="row">
              <div class="col-md-3">
                <img src="../static/images/restaurant.png" width="48px" />
              </div>
              <div class="col-md-9">
                  <h4>Total Restaurants:</h4>
                  {{test[0][1]}}
              </div>
            </div>

          </div>
        </div>
        <div class="col-md-3">
          <div class="well">
            <h4>Total Categories:</h4>
            {{test[0][0]}}
          </div>
        </div>
        <div class="col-md-6">
          <div class="well">
            <h4>Visualization by options</h4>
            <select class="form-control" id="select" name="select-option" onchange="javascript:optionChanged()">
                <option value="">Select chart</option>
                <option value="ratings">Restaurants by Ratings</option>
                <option value="category">Restaurants by Category</option>
                <option value="Top">Best Restaurants in Toronto </option>
                <option value="ctop">Top 10 Category</option>
                <option value="low">Worst Restaurants in Toronto</option>
            </select>
          </div>
        </div>
        
        
        
      </div>      
    
    <div class="container">
      <div class="row margin-top-50">
        <div class="col-md-6">
          <div class="center" >
            <h3>Restaurants</h3>
            <input type="text" placeholder="Filter by category" id="filterByCategory" />
            <a style="color:black;" href="/refresh">Refresh</a>
          </div>
          <div class="col-md-12">
            <div id="table-area" class="">
              <table id="ufo-table" class="table table-hover">
                <h1></h1>
                <thead>
                  <tr>
                    <th class="table-head">Name</th>
                    <th class="table-head">Category</th>
                    <th class="table-head">Ratings</th>
                    <th class="table-head">Address</th>
                    <th class="table-head">Phone No.</th>
                    
                  </tr>
                </thead>
                <tbody>
                  {% for item in test[1] %}
                    <tr>
                      <td>{{item[0]}}</td>
                      <td>{{item[1]}}</td>
                      <td>{{item[2]}}</td>
                      <td>{{item[3]}}</td>
                      <td>{{item[4]}}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="center">
            <h3>Visualisation</h3>
          </div>
        </div>
        <div class="col-md-4">
          <div class="center">
          <div id="graph">
          </div>  
          </div>
        </div>        
      </div>
    </div>
  </div>
    <footer class="footer">
      <span class="bottom">Food R Us</span>
    </footer>
  </div>
  <script type="text/javascript">
      $(document).ready(function(){
        $("#filterByCategory").on("keyup", function() {
          var value = $(this).val().toLowerCase();
          $("#table-area tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          });
        });
      });
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>

</html>
