<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Geo JSON</title>

  <!-- Leaflet CSS & JS -->
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <script src="https://d19vzq90twjlae.cloudfront.net/leaflet-0.7.3/leaflet.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  crossorigin=""/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <!--this is new-->

  <script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.js'></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
  integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
  crossorigin=""></script>
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet">


  <!--D3 cdn-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>

  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body>
    <div class="btn-group">
        <button type="button" id="burgers" class="btn btn-success">Burgers</button>
        <button type="button" id="cafes" class="btn btn-primary">Cafes</button>
        <button type="button" id="italians" class="btn btn-danger">Italian</button>
        <button type="button" id="chineses"class="btn btn-warning">Chinese</button>
        <button type="button" id="pizzas" class="btn btn-success">Pizza</button>
        <button type="button" id="vegans" class="btn btn-primary">Vegan</button>
        <button type="button" id="bars" class="btn btn-danger">Bars</button>
        <button type="button" id="indians"class="btn btn-warning">Indian</button>
        <button type="button" id="mexicans" class="btn btn-success">Mexican</button>
        <button type="button" id="thais" class="btn btn-primary">Thai</button>
        <button type="button" id="bnbs" class="btn btn-danger">B&B</button>
        <button type="button" id="japaneses"class="btn btn-warning">Japanese</button>
 
        
        
    </div>
  <!-- The div where we will inject our map -->
  <div id="map"></div>

  <!-- API key -->
  <script type="text/javascript" src="../static/js/config.js"></script>
  <!-- Our JS -->
  <script type="text/javascript" src="../static/js/logic.js"></script>

  <script type="text/javascript">
  
    </script>

</body>
</html>